/*
 * This file is part of the YesWiki Extension stats.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

 .no-flex-shrink {
    flex-shrink: 0;
}

.data-table-word-break{
    word-break: break-all;
    width: 20%;
}

@media (max-width: 800px) {
    .data-table-word-break{
        width: 120px !important;
    }
}